h1 {
  text-align: center;
  color: black;
}

img {
  max-width: 90%;
  display: block;
  margin: 20px auto;
  border-radius: 20px;
}

.contact-btn {
  display: block;
  margin: 0 auto;
  width: 200px;
}
